ul.flex.flex-wrap.justify-center.mt-6.w-full.md:w-8/12.mx-auto
  = render (List::Item::CardComponent.new(name: "Salon", image:"/assets/salon1.jpg", station:"梅田駅から徒歩5分", price:"5,000"))
  
  = render (List::Item::CardComponent.new(name: "Salon2", image:"/assets/salon1.jpg", station:"梅田駅から徒歩5分", price:"5,000"))